
#FloatingMiniPanel:horizontal {
/*  height: 32px; */
  height: 36px;
  padding: 0px 0px;
}

#FloatingMiniPanel:vertical {
  width: 36px;
  padding: 0px 0px;
}

#FloatingMiniPanel:horizontal .system-status-icon {
  width: 24px;
/*  padding: 8px 0px; */
  padding: 10px 0px;
  -st-icon-style: symbolic !important;
}

#FloatingMiniPanel:vertical .system-status-icon {
  height: 16px;
  padding: 5px 10px;
  -st-icon-style: symbolic !important;
}

#FloatingMiniPanel:horizontal .system-status-icon-2 {
  width: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 8px;
  -st-icon-style: symbolic !important;
}

#FloatingMiniPanel:vertical .system-status-icon-2 {
  height: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  -st-icon-style: symbolic !important;
}

#FloatingMiniPanel .clone {
  padding: 8px 8px;
}

#FloatingMiniPanel:horizontal .divider {
  margin: 6px 0px;
  padding: 0px 0px;
  border: 1px solid grey;
}

#FloatingMiniPanel:vertical .divider {
  margin: 0px 6px;
  padding: 0px 0px;
  border: 1px solid grey;
}

#FloatingMiniPanel:horizontal .ctlBtn {
  padding: 0px 2px;
}

#FloatingMiniPanel:vertical .ctlBtn {
  padding: 2px 0px;
}

#FloatingMiniPanel:horizontal .btn {
  padding: 0px 8px;
}

#FloatingMiniPanel:vertical .btn {
  padding: 8px 0px;
}

#FloatingMiniPanel:horizontal .messages-indicator {
  width: 16px;
  padding: 7px 0px;
}

#FloatingMiniPanel:vertical .messages-indicator {
  height: 16px;
  padding: 0px 10px;
}

#FloatingMiniPanel:vertical StLabel {
  text-align: center;
}

.popup-menu.panel-menu {
  margin-bottom: 0;
}

